/* Configurações do arquivo style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
}

#home {
    background-color: #f4f4f4;
}

#about {
    background-color: #e2e2e2;
}

#projects {
    background-color: #ccc;
}

#contact {
    background-color: #b0b0b0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

